@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(236, 234, 235) 0%, rgb(136, 95, 111) 100%);
}

header {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

.left {
    display: flex;
    margin-right: 150px;
}

.right {
    display: flex;
}

.link-container {
    display: inline;
    position: relative;
    transition: ease-in-out .3s;
    margin: 0px 5px;
}

.navbar li {
    text-decoration: none;
    color: black;
    transition: ease-in-out .3s;
    font-weight: bold;
    margin: 0px 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#about {
    border-bottom: solid 3px #c088b4;
}

nav #toggle,
nav label {
    display: none;
}

.link-container a::after {
    display: block;
    content: '';
    border-bottom: solid 3px #c088b4;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.link-container a:hover:after {
    transform: scaleX(1);
}

@media(max-width: 640px) {
    header {
        justify-content: space-between;
    }

    .logo img {
        height: 130px;
        width: 130px;
    }

    .logo {
        font-size: 7px;
        position: relative;
    }

    nav .link-container {
        border: none;
        text-align: center;
        padding: 0px;
        margin: 10px 0px;
    }

    nav .menu {
        display: flex;
        align-items: center;
        justify-content: right;
        transition: .2s ease-in-out;
        width: 100%;
        height: 0px;
        overflow: hidden;
        position: absolute;
        top: 79px;
        left: 0;
        background: linear-gradient(180deg, rgb(236, 234, 235) 0%, rgb(136, 95, 111) 100%);
    }

    nav li a {
        font-size: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        margin: 0px 20px;
        padding: 0;
    }

    .left {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .right {
        flex-direction: column;
    }

    nav .menu-toggle {
        display: flex;
        margin-right: 30px;
        font-size: 25px;
        justify-content: flex-end;
        cursor: pointer;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    nav #toggle:checked~.menu-toggle .fa-bars {
        display: none;
    }

    nav #toggle:checked~.menu-toggle .fa-times {
        display: block;
    }

    nav #toggle:not(:checked)~.menu-toggle .fa-bars {
        display: block;
    }

    nav #toggle:not(:checked)~.menu-toggle .fa-times {
        display: none;
    }

    nav #toggle:checked~.menu {
        height: 50vh;
        width: 100%;
        z-index: 1;
        border-top: 1px solid black;
    }

    nav #toggle:checked~.menu .link-container {
        font-size: 15px;
    }
}

.container {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: auto;
    width: 95%;
    position: relative;
    background-color: #3e2642;
    border-radius: 40px;
    height: 85vh;
}

.container h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    padding-block: 20px;
}

.inner {
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    padding: 30px;
    display: flex;
    align-items: center;
    width: 40%;
    height: 500px;
}

.img img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 350px;
    border-radius: 50%;
}

.description {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #c088b4;
    border-radius: 40px;
    padding: 50px 50px;
    text-align: justify;
    margin-inline: 20px;
    color: white;
}

.description p {
    font-size: 25px;
}

.socials {
    font-size: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.socials i {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #3e2642;
    border-radius: 20px;
    padding: 15px 25px;
    transition: .3s ease-in-out;
}

.socials i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    border-top: 1px solid black;
    width: 95%;
    margin: auto;
    align-items: center;
    display: flex;
    text-align: center;
    margin-block: 30px;
    padding: 10px;
    color: #3e2642;
}

.footer-socials {
    font-size: 20px;
    margin-right: 0;
    margin-left: auto;
}

.footer-socials i {
    opacity: 70%;
    transition: .3s ease-in-out;
}

.footer-socials i:hover {
    opacity: 100%;
    cursor: pointer;
}

footer i {
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .container {
        height: 100vh;
    }

    .inner {
        margin: auto;
        flex-wrap: wrap;
    }

    .img {
        width: 100%;
        height: 300px;
        padding: 0px;
        margin-bottom: 20px;
    }

    .img img {
        margin: auto;
        max-width: 300px;
    }

    .description {
        padding: 30px;
    }

    .description p {
        font-size: 18px;
    }

    .socials {
        margin-top: 40px;
        font-size: 30px;
    }
}